fastapi
uvicorn[standard]
python-multipart
langchain
sentence-transformers
faiss-cpu
transformers
torch
pydantic
python-jose[cryptography]
passlib[bcrypt]
pdfplumber
PyPDF2
sentencepiece
accelerate
